/* 
    Document   : main
    Created on : Oct 2, 2012, 12:16:54 PM
    Author     : amar
    Description: custom css
         
*/

.top-bar {
width: 100%;
height: 38px; z-index: 9999;
left: 0px;
position: fixed;
top: 0px;
background-color: #08C;
background-repeat: repeat-x;
background-image: -webkit-linear-gradient(top, #08C, #005079);
box-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 2px;
border-bottom: 1px solid #013B58;
}
#user-wall {margin: 0px; padding: 0px; list-style: none;}
#user-wall li {padding: 5px 0 5px 0; border-bottom: 1px dotted #ddd;}
.profile {}
.profile img {}
.top-user-menu { float: right;margin-top: 5px; width: 200px;}
.top-user-menu img { float: left; margin-right: 10px; text-align: right;}
.this-is-login-page {
    background: white url(../../images/background3.png) repeat-x;
}
.status-bar { text-align: right;  float: right; width:50%; color:#888; font-size: 12px; margin-top: 10px;}
a.fb {
padding: 4px 6px 4px 6px;
background: #3C5A98;
color: white;
text-decoration: none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
font-size:14px;
}
a.fb strong {
padding: 0 7px 0 3px;
margin-right:5px;
font-size:14px;
border-right: 1px solid #6D84B3;
}
a.fb:hover 		{ background: #6D84B3; }

.menu {
margin:0px;
padding: 20px 0 0 0;
font-size: 11px;
float: left;
}

.menu li {
float: left;
list-style: none;
}
.menu li a {
outline: none;
margin-right: 18px;
color: #444;
text-decoration: none;
text-transform: uppercase;
}

.list-item {
border-top: 1px solid #E5E5E5;
margin: 5px 0px;
padding: 5px 0px;
min-height: 48px;
float: left;
width: 100%;
}
.list-item .activity-info .options {
float: right;
height: 22px;
margin: -25px 0px 0px 358px;
position: relative;
width: 40px;
}
.list-item .activity-info .options ul {
margin: 20px 0px 0px;
background: #EEE;
border: 1px solid #C6C6C6;
border-image: initial;
cursor: pointer;
display: none;
left: auto;
list-style: none outside none;
padding: 0px;
position: absolute;
right: 0px;
width: 160px;
}

.list-item .activity-info .options ul a {
color: #111;
display: block;
font-weight: normal;
overflow: hidden;
padding: 2px 4px 3px 19px;
text-align: left;
text-decoration: none;
width: 137px;
}
.list-item .profile-image img {
border-radius: 3px;
float: left;
margin: 10px 10px 0px 0px;
}

.list-item .comment-view {
background: none 0px 0px repeat scroll #F2F2F2;
clear: both;
display: block;
float: right;
width: 420px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #E5E5E5;
padding: 2px 10px 2px 10px;
}
.list-item .comment-view ul {
margin: 0px;
padding: 0px;
list-style: none;
}

.list-item .comment-view .favourite {
height: 15px; 
margin: 0px 5px 0 2px;
padding-left: 0px;
}

.list-item .comment-view .comments {
height: 15px;   
margin: 0px 5px;
padding-left: 10px;
}

.list-item .comment-lists .comment-list .span6 {
font-size: 11px;
height: 16px;
line-height: 15px;
width: 96%;
}


.list-item .comment-lists .comment-list {
float: left;
width: 380px;
display: block;
border-top: 1px solid #FEFEFE;
border-bottom: 1px solid #E5E5E5;
padding: 4px 0px;
}
.list-item .comment-lists .comment-list .profile {
float: left;
margin: 0px 7px 5px 0px;
border-radius: 3px;
}
.list-item .comment-lists .comment-list p {
float: left;
font-size: 11px;
color: #555;
width: 330px;
}
.list-item .comment-lists .comment-list .comment-time {
color: #999;
font-size: 11px;
margin-left: 36px;
float: left;
clear: both;
}
.list-item .comment-lists .comment-list .comment-time a {
color: #999;
margin-left: 20px;
}


.list-item .comment-lists {
clear: both;
width: 420px;
background: #F2F2F2;
padding: 0px 10px;
float: right;
margin: 0px 0px 10px;
}

.list-item .activity-info h4 .time {
font-size: 10px;
color: #999;
font-weight: normal;
}

.list-item .activity-info .activity {
display: block;
clear: both;
float: right;
width: 446px;
margin-bottom: 4px;
}
 .list-item .activity-info .activity ul {
margin: 0px;
padding: 0px;
list-style: none;
}
 .list-item .activity-info .activity ul li {
display: inline;
}
.list-item .activity-info .activity .liked {
list-style: inside;
margin: 0px 5px;
}

.list-item .activity-info .activity .comment-write {
list-style: inside;
margin: 0px 5px;
}
.list-item .activity-info .activity a {
color: #999;
font-size: 11px;
}
.list-item .comment-view ul {
margin: 0px;
padding: 0px;
list-style: none;
}
.list-item .comment-view li {
margin: 0px; display: inline;
padding: 0px;
 
list-style: none;
}
 .list-item .comment-view a {
color: #999;
font-size: 11px;
}



.block-title {
    color:#999; font-weight: bold; text-transform: uppercase; font-size: 12px;
}

.footerbox	{ font-size: 11px; padding-top: 10px; margin-bottom: 10px; border-top: 1px dashed #ddd; margin-top: 20px; }
.footerbox h1	{ line-height: 30px; color: #666; font-size: 11px; text-transform: uppercase; font-weight: bold; padding: 0px; margin: 0px; }
.footerbox a	{ text-decoration: none;  color:#666; }
.footerblock	{ color:#666; float: left; padding-left: 19px; padding-right: 19px; border-right: 1px solid #EEE; height: 120px; }
.first-box {padding-left: 0px;}
.last-box {border-right:none !important;}
